{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/orden.css' %}">

</head>
<body>
    {% include 'nav-bar.html' %}
    <div class="page">
        <p class="text-principal" id="text-principal">Detalle de Compra</p>
        <div class="list-orden-container">
            <p class="nombre-orden-item">
                Orden: #{{ num_orden }}
            </p>
            {% for i in items %}
            <div class="columna-container">
                <div class="img-item">
                    <img src="{{ imagen }}" class="item-png">
                </div>
                <div class="nombre-item">
                    <p class="nombre-text">{{ i.Nombre }}</p>
                    <p class="nombre-subtext">Descripción</p>
                </div>
                <div class="cantidad-item">
                    <p class="cantidad-text">{{ i.Cantidad }}</p>
                    <p class="cantidad-subtext">Cantidad</p>
                </div>
                <div class="total-item">
                    <p class="total-text">$ {{ i.Precio }}</p>
                    <p class="total-subtext">Total</p>
                </div>
            </div>
            <div class="separador"></div>  
            {% endfor %}
            <div class="total-monto">
                <p class="total-monto-text">
                    Total: $ {{ total }}
                </p>
            </div>        
        </div>
    </div>
</body>
</html>